@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=League+Gothic&family=Open+Sans:wght@300;400;500&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;    
}

a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
    
    height: 110px;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

.menu-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.menu-btn {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: 2em;
}
