


.body-home {
    background: #001F54;
}


 /* Estilizando o nosso menu*/

.bg-home {
    background-color: #003566;
    box-shadow: #8BE9F9 0px 0px 5px;
}

.hover-home:hover {
    color: #8BE9F9;
    text-shadow: #85DDE9  0px 0px 10px;
}

/* Aqui começa a estilização do container contendo o header e a imagem principal da página */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
}

header {
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 40vw;
}

#title {
    color: white;
    font-size: 2.5em;
    margin-left: 80px;
}

.text-principal {
    color: white;
    font-size: 7em;
    font-family: "League Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 4px;
}

.subtitulo {
    color: white;
    font-size: 2em;
    margin-left: 250px;
    margin-top: -10px;
}

img {
    width: 680px;
    animation: flutuar 2s ease-in-out infinite; /* Nome da animação, duração, estilo e repetição */
}
/* Animação da imagem */

@keyframes flutuar{
    0% { transform: translateY(0); } /* Começa na posição inicial */
    50% { transform: translateY(-30px); } /* Sobe até 20px */
    100% { transform: translateY(0); } /* Retorna à posição inicial */
}

#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    margin-top: 10px;
    margin-left: 200px;
    color: white;
    border: 1px solid #85DDE9;
    padding: 10px;
    box-shadow: #8BE9F9 0px 0px 5px;
    margin-bottom: 100px;
}

#title-sobre {
    color: #85DDE9;
    font-size: 3.5em;
    font-style: italic;
    margin-bottom: 30px;
}

.subtitulo-sobre {
    font-size: 1.5em;
    margin-bottom: 25px;
}

section > p {
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
    margin-bottom: 30px;
}

#formacao {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 40vw;
    margin-left: 1000px;
    color: white;
    border: 1px solid #85DDE9;
    padding: 10px;
    box-shadow: #8BE9F9 0px 0px 5px;
}

#title-formacao {
    color: #85DDE9;
    font-size: 3.5em;
    font-style: italic;
    margin-bottom: 30px;
}

.subtitulo-formacao {
    font-size: 1.5em;
    margin-bottom: 25px;
}

.list-cursos {
    padding: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.726);
    margin-top: 50px;
}